%h1
  Hello,
  = user.first_name if user.first_name
%p
  Your email is: 
  %a
    #{user.email if user.email}
%p
  If you want to edit your account click here:
%p
  =link_to 'Edit', edit_user_registration_path, class: 'btn btn-default'

=render 'adminpanel'