%h1.text-center Find the best offers in your city

.col-md-8.col-md-offset-2
  - cities.each do |city|
    .row.text-center
      = link_to city.name, city_promotions_path(city), class: 'btn btn-lg btn-primary btn-city'
      %br
