%h1= "Listing promotions in #{city.name}"

%table#promotions-table.table.table-hover.display{ data: { source: city_promotions_url(city, format: "json") } }
  %thead
    %tr
      %td Name
      %td Description
      %td Starting date
      %td Ending date
      %td Discount %
      %td Product
      %td Actions
  %tbody
%h3= link_to 'Add new promotion', new_city_promotion_path(city), class: 'btn btn-default'