%h1 Products

%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Shop
    %th Price
    %th Category
    %th Image
    %th
    %th
    %th
  - products.each do |product|
    %tr
      %td
        =product.name
      %td
        =product.description
      %td
        =product.shop_id
      %td
        =product.base_price
      %td
        =product.category
      %td
        =image_tag(product.image, size: '100') if product.image
      %td
        = link_to 'Show', product_path(product)
      - if current_user.present? && current_user.admin?
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"}
      - else
        %td
        %td
%br
- if user_signed_in? && current_user.admin?
  = link_to 'New Product', new_product_path, class: 'btn btn-default'
