-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %nav.navbar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag('logo.png', size: '25x25', class: 'img-responsive pull-left')
        %span.logo.pull-left BiedronkaApp

      -# = link_to root_path, class: 'navbar-brand' do
        -# = image_tag('logo.png', size: '30x30', class: 'pull-left')
        -# %h2.pull-left BiedronkaApp
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        = render 'layouts/navigation_links'
